<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
	<link rel="stylesheet" href="login.css">
	<link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZPU2XuflDkC4h9AD2qczHcbiS3APqHs3vS6Wqebv4eHecROxM" type="image/x-icon">
</head>
<body>
	log in page
	<form action="/">
		<button type="submit"> Back</button>
	</form>
		<form action="/dashboard">
		<button type="submit"> Enter</button>
	</form>
</body>
</html>