*{
	margin: 0px;
	padding: 0px;
}

.logOrSign{
	color: rgb(199, 109, 6);
	height: 50%;
	font-size: 55px;
	padding-top: 28%;
	padding-left: 45%;
}

body{
  
  background: url('Keyhome.jpg') no-repeat center center fixed;
  background-size: cover;
}

